<table class="table table-striped table-hover table-bordered">

        <thead>

            <tr>

                <th>Email</th>
                
                <th>Position</th>
                
                <th>Date</th>

                <th>Start</th>
                
                <th>End</th>
                <th>Description</th>

            </tr>

        </thead>

        <tbody>
            <% @shifts.each do |shift| %>
            <tr>

                <td><%= shift.user.email %></td>
                <td><%= shift.position %></td>
                <td><%= shift.date.to_date.to_s(:long)%></td>

                <td><%= shift.start.to_s(:time)%></td>
                <td><%= shift.finish.to_s(:time)%></td>
                <td><%= shift.description %></td>
                <td><%= link_to 'Revoke', decline_shift_path(shift), method: :delete %></td>

            </tr>

           <% end %>
            
        </tbody>
      
    </table>

