

    <div class="method">
        <div class="row margin-0 list-header hidden-sm hidden-xs">
            <div class="col-md-3"><div class="header">Email</div></div>
            <div class="col-md-2"><div class="header">Position</div></div>
            <div class="col-md-2"><div class="header">Date</div></div>
            <div class="col-md-2"><div class="header">start-end</div></div>
            <div class="col-md-3"><div class="header">Description</div></div>
        </div>
        
        <% @shifts.each do |shift| %>
           
        <div class="row margin-0">
            <div class="col-md-3">
                <div class="cell">
                    <div class="propertyname">
                         <%= shift.user.email %>  <span class="mobile-isrequired">[Required]</span>
                    </div>
                </div>
            </div>
            
            <div class="col-md-2">
                <div class="cell">
                    <div class="type">
                       <%= shift.position %> <span class="mobile-isrequired">[Required]</span>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="cell">
                    <div class="type">
                       <%= shift.date.to_date.to_s(:long) %> <span class="mobile-isrequired">[Required]</span>
                    </div>
                </div>
            </div>
            
            <div class="col-md-2">
                <div class="cell">
                    <div class="type">
                       <%= "#{shift.start.to_s(:time)} - #{shift.finish.to_s(:time)}" %> <span class="mobile-isrequired">[Required]</span>
                    </div>
                </div>
            </div>
            
            <div class="col-md-3">
                <div class="cell">
                    <div class="description">
                        <%= shift.description %>
                    </div>
                </div>
            </div>
        </div>
      <% end %>
      
        </div>

