<div class="panel panel-default">
		<!-- Default panel contents -->
		<div class="panel-heading">Trade Board List</div>
		<div class="panel-body">
			<p>The following list container shift that your collegue wishe to give away. Click 'Pick Up', if you can help them. </p>
</div>
<table class="table custom_table table-striped table-hover table-condensed">

        <thead>

            <tr>

                <th>Email</th>
                
                <th>Position</th>
                
                <th>Date</th>

                <th>Start</th>
                
                <th>End</th>
                <th>Description</th>
                <th> </th>

            </tr>

        </thead>

        <tbody>
            <% @shifts.each do |shift| %>
            <tr>

                <td><%= shift.user.email %></td>
                <td><%= shift.position %></td>
                <td><%= shift.date.to_date.to_s(:long)%></td>

                <td><%= shift.start.to_s(:time)%></td>
                <td><%= shift.finish.to_s(:time)%></td>
                <td><%= shift.description %></td>
                <% if shift.user_id == current_user.id %>
                    <td><%= link_to 'Remove', cancel_shift_path(shift), method: :post %></td>
                <% else %>
                    <td><%= link_to 'Pick Up', pick_up_shift_path(shift), method: :post %></td>
                <% end %>

            </tr>

           <% end %>
            
        </tbody>
      
    </table>

